#choccydiv {
    font-family: verdana;
    max-width: 800px;
    margin: auto;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}

.choccytitle {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.choccynoticetitle {
    font-size: 16px;
    color: white;
    padding: 16px;
}

.choccynotice {
    background-color: white;
    padding: 8px 16px;
    margin-bottom: 50px;
}

.choccynoticetext {
    font-size: 14px;
}



.choccyblocktitle {
    font-size: 16px;
    font-weight: bold;
    line-height: 4px;
    padding-top: 50px;
}

.choccyblock {
    background-color: #e8e8e8;
    padding: 3px;
}

.choccyservice {
    background-color: white;
    border: 1px solid #f0f0f0;
    min-height: 40px;
    padding: 10px;
}

.choccyservicename {
    float: left;
    width: 50%;
    text-align: left;
    font-size: 14px;
}

.choccyservicestatus {
    float: left;
    width: 50%;
    text-align: right;
    font-size: 14px;
}

.choccyservicedesc {
    font-size: 12px;
    color: #505050;
}

.choccybranding {
    font-size: 12px;
    color: gray;
    text-decoration: none;
    text-align: center;
}

.choccybranding:hover {
    text-decoration: underline;
}

html {
    background-color: #f0f3f4;
}
